script(type='text/ng-template' id='categories.html')
	a(ui-sref='products.categories({category: category.id})', ng-bind='category.title', ng-click='showDropdown = !showDropdown')
	ul(ng-if='category.categories.length && showDropdown')
		li(ng-repeat='category in category.categories' ng-include='\'categories.html\'')

script(type='text/ng-template' id='kits.html')
	a(ui-sref='products.kits({kit: kit.id})', ng-bind='kit.title', ng-click='showDropdown = !showDropdown')
	ul(ng-if='kit.kits.length && showDropdown')
		li(ng-repeat='kit in kit.kits' ng-include='\'kits.html\'')

.row
	.col-md-12
		.page-header
			h4 Меню
		ul.list-unstyled
			li Каталог
				ul
					li(ng-repeat='category in categories.tree' ng-include='\'categories.html\'', ng-init='showDropdown = false')
			li Коплекты
				ul
					li(ng-repeat='kit in kits.tree' ng-include='\'kits.html\'', ng-init='showDropdown = false')

.row
	.col-md-12
		.page-header
			h4 Поиск
		.input-group
			input.form-control
			span.input-group-btn
				button.btn.btn-default
					i.fa.fa-search

.row
	.col-md-12
		.page-header
			h4 Видео
		.embed-responsive.embed-responsive-16by9
			iframe.embed-responsive-item(src='//www.youtube.com/embed/zpOULjyy-n8?rel=0')

.row
	.col-md-12
		.page-header
			h4 Новости
		.media(ng-repeat='report in reports')
			a.pull-left
				img.media-object(ng-src='{{report.safe.pictures.main}}')
			.media-body
				h4.media-heading(ng-bind='report.title')
				span(ng-bind-html='report.safe.text')

.row
	.col-md-12
		.page-header
			h4 Публикации
		.media(ng-repeat='article in articles')
			a.pull-left
				img.media-object(ng-src='{{article.safe.pictures.main}}')
			.media-body
				h4.media-heading(ng-bind='article.title')
				span(ng-bind-html='article.safe.text')
