.row
	.col-md-12
		ol.breadcrumb
			li
				a Главная
			li
				a Каталог
			li.active
				a(ng-bind='category.title')
.row
	.col-md-4(ng-repeat='product in category.products')
		.thumbnail
			a(ui-sref='products.document({product: product._id})')
				img(ng-src='{{base}}/pictures/{{product.pictures.main}}')
			.caption
				h3(ng-bind='product.name')
				p(ng-bind='product.info')
				p
					a.btn.btn-default В корзину
