.row
	.col-md-12
		ol.breadcrumb
			li
				a Главная
			li
				a Комлекты
			li.active
				a(ng-bind='kit.title')
.row
	.col-md-12
		.well
			.row
				.col-md-4(ng-repeat='product in kit.products')
					.thumbnail
						a(ui-sref='products.document({product: product._id})')
							img(ng-src='{{product.safe.pictures.main}}')
						.caption
							h3(ng-bind='product.name')
							p(ng-bind='product.info')
							p(ng-if='product.discount') {{ product.discount }}%
							p(ng-if='product.discount')
								span.line-through {{ (product.cost * (currencies[product.currency] || 1)).toFixed() }}
								span  {{ ((product.cost - ((product.cost / 100) * product.discount)) * (currencies[product.currency] || 1)).toFixed() }} р.
							p(ng-if='!product.discount') {{ (product.cost * (currencies[product.currency] || 1)).toFixed() }}

.row
	.col-md-12
		button.btn.btn-default В корзину



//- .row
//- 	.col-md-12
//- 		ol.breadcrumb
//- 			li
//- 				a Главная
//- 			li
//- 				a Каталог
//- 			li.active
//- 				a(ng-bind='category.title')
//- .row
//- 	.col-md-4(ng-repeat='product in category.products')
//- 		.thumbnail
//- 			img(ng-src='{{base}}/pictures/{{product.pictures.main}}')
//- 			.caption
//- 				h3(ng-bind='product.name')
//- 				p(ng-bind='product.info')
//- 				p
//- 					a.btn.btn-default В корзину