nav.navbar.navbar-default
	.container
		.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-right
				li.dropdown
					a.dropdown-toggle
						| Корзина 
						span.caret
					ul.dropdown-menu
						li
							a(ui-sref='basket') Перейти к оформлению
				li.dropdown
					a.dropdown-toggle
						| Здравствуйте, username! 
						span.caret
					ul.dropdown-menu
						li
							a(ui-sref='products.collection') Аккаунт
						li.divider
						li
							a(ui-sref='categories') Выйти
.container
	.row
		.col-md-3
			img(src='http://dummyimage.com/250x100/ccc/000.png&text=logo')
		.col-md-9
			ul.list-inline.pull-right
				li
					a(ui-sref='products.collection') Меню
				li
					a(ui-sref='products.collection') Меню
				li
					a(ui-sref='products.collection') Меню
				li
					a(ui-sref='products.collection') Меню
				li
					a(ui-sref='products.collection') Меню
				li
					a(ui-sref='products.collection') Меню
				li
					a(ui-sref='products.collection') Меню
				li
					a(ui-sref='products.collection') Меню
				li
					a(ui-sref='products.collection') Меню
				li
					a(ui-sref='products.collection') Меню






//- .container
//- 	.sixteen.columns
//- 		a.menu-trigger(href='#menu')
//- 			i.fa.fa-bars
//- 			| Menu
//- 		nav#navigation
//- 			ul#responsive.menu
//- 				li
//- 					a.homepage(href='index.html') Home
//- 				li.demo-button
//- 					a(href='#') Get This Theme
//- 				li.demo-button
//- 					a(href='#') Get This Theme
//- 				li.demo-button
//- 					a(href='#') Get This Theme
//- 				li.demo-button
//- 					a(href='#') Get This Theme
//- .container
//- 	.four.columns
//- 		img(src='./assets/final.png', alt='Trizzy')
//- 	.twelve.columns
//- 		p dsdscdcd