nav.navbar.navbar-default
	.container
		.navbar-header
			a.navbar-brand Bsound
		.collapse.navbar-collapse
			ul.nav.navbar-nav
				li.dropdown
					a.dropdown-toggle Меню
					ul.dropdown-menu
						li
							a(ui-sref='products.collection') Продукты
						li
							a(ui-sref='categories') Категории
						li
							a(ui-sref='kits') Комплекты
						li
							a(ui-sref='products.collection') Заказы
						li
							a(ui-sref='products.collection') Пользователи
						li
							a(ui-sref='products.collection') Сообщения
						li
							a(ui-sref='reports.collection') Новости
						li
							a(ui-sref='articles.collection') Публикации
						li
							a(ui-sref='products.collection') Видео
						li
							a(ui-sref='products.collection') Страницы
						li
							a(ui-sref='products.collection') Настройки
